@model Dictionary<string, string>


<ul class="navbar-nav flex-grow-1">
    @foreach (var menuItem in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="@menuItem.Key">@menuItem.Value</a>
        </li>
    }


</ul>