@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to properties</h1>
    <a asp-area="RealEstate" asp-action="Index" asp-controller="RealEstate">List of properties</a>
    <hr />
    <a asp-area="RealEstate" asp-action="Create" asp-controller="RealEstate">Add a property</a>
</div>
