@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcometo cars</h1>
    <a asp-action="Index" asp-controller="Car">List of cars</a>
    <hr />
    <a asp-action="Create" asp-controller="Car" asp-area="Cars">Add a car</a>
</div>
