@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <a  asp-controller="Car" asp-action="Index">Cars list</a>
    <a  asp-controller="Car" asp-action="Create">Add car</a>
</div>
