<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create airline</title>
</head>
<body>
    <h1>Create new airline:</h1>

    <form action="@Url.Action("CreateNewAirline")" method="post">
        <div>
            <input type="text" name="AirlineName" placeholder="Input airline name" value="" />
        </div>

        <div>
            <input type="number" placeholder="Count of aircraft" name="AircraftCount" value="" />
        </div>

        <div>

            <input type="checkbox" name="IsLowcost" value="True" />
            <span>Lowcost</span>
        </div>

        <div>
            <input type="number" placeholder="Maximum Luggage Weight" name="MaximumLuggageWeight" value="" />
        </div>

        <input type="button" onclick="history.back()" value="Back" />
        <input type="submit" value="Save" />

    </form>
</body>
</html>
