
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Tutorials.Models.Car

<h1>Add a car</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaxSpeed" class="control-label"></label>
                <input asp-for="MaxSpeed" class="form-control" />
                <span asp-validation-for="MaxSpeed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Add car" />
            </div>

        </form>
    </div>
</div>




@section Scripts 
{
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}