@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Games Store</h1>
    
</div>


<div>
    <a href="@Url.Action("Index","Games")">Games index</a> 
    <hr />
    <a href="@Url.Action("Created","Games")">Games Created</a>
</div>