
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search events with day</h1>

<form asp-action="FuturePlans">
    <input type="date" name="date" value="Inex" />
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>