<style>
    button {
        background-color: white;
        color: white;
    }
</style>

<title>Home</title>
<h1>Welcome to Airport app!</h1>
<button><a href="~/Airport/Create">Create new airport</a></button>
<button><a href="~/Airport/GetAllAirports">See all airport</a></button>
<button><a href="~/Airline/Create">Create new airline</a></button>
<button><a href="~/Airline/GetAllAirlines">See all airlines</a></button>